node_modules/
package-lock.json
yarn.lock

.next/
out/
dist/
.cache/
.trace/
trace/

docs/

.vscode/

.DS_Store
Thumbs.db
*.log

*.tsbuildinfo

*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
