.IndexPage {
  
  background-color: #282c34;
}



.IndexMain {
  text-align: center;
}

.IndexLogo {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  position: "relative";
  object-fit: "contain";
}

.IndexLogo:hover {
  color: aqua;
  filter: blur(5px);
  text-decoration: none;
}

.IndexLinks {
  
}

.IndexLinksList {
  padding-top: 0;
  padding-bottom: 0;
  padding-right : 0;
  padding-left: 0;
  line-height: 0;
  list-style: none;
  font-size: 5vmin;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin:1;
}

.IndexLinksListContent {
  padding-top: 0;
  padding-bottom: 0;
  padding-left : 0;
  line-height: 0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.IndexLinksList a {
  color: white;
  
  text-decoration: none;
}

.IndexLinksList a:visited {
  color: white;
  
  text-decoration: none;
}

.IndexLinksList a:hover {
  color: aqua;
  
  text-decoration: none;
}

.IndexLinksList li {
  list-style: none;
  width: 100px;
  text-align: center;
}