/* @import "tailwindcss";

.mask-overlay {
  position        : fixed;
  inset           : 0;
  background-color: #0F2E2D;
  z-index         : 50;
  pointer-events  : none;
  opacity         : 0;
  transition      : opacity 0.2s ease-in-out;
}

.mask-overlay.entering {
  opacity: 1;
}

.mask-overlay.exiting {
  opacity: 0;
}

@keyframes blink {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

.dot {
  opacity  : 0;
  animation: blink 0.8s infinite;
}

.dot.one {
  animation-delay: 0.0s;
}
.dot.two {
  animation-delay: 0.2s;
}
.dot.three {
  animation-delay: 0.4s;
}
.dot.four {
  animation-delay: 0.6s;
} */